.header {
  background-color: #CDE7FF;
  display: flex;
  gap: 110px;
  padding: 30px 100px;
}

.mainLogo {
  width: 140px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  ul, div {
    display: flex;
    list-style: none;
    gap: 53px;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: black;
  }

  button {
    width: 65px;
    height: 44px;
    background-color: #fff;
    border: none;
  }
}
